#
# Terraform
#

# Amazon access to use to run terraform. Usually admin account to be able to create Amazon services.

#. aws_access_key (required): ((aws.access_key))
#+ Amazon AWS access key for Terraform. See value format [here](https://docs.cycloid.io/advanced-guide/integrate-and-use-cycloid-credentials-manager.html#vault-in-the-pipeline)
aws_access_key: ((aws.access_key))

#. aws_secret_key (required): ((aws.secret_key))
#+ Amazon AWS secret key for Terraform. See value format [here](https://docs.cycloid.io/advanced-guide/integrate-and-use-cycloid-credentials-manager.html#vault-in-the-pipeline)
aws_secret_key: ((aws.secret_key))

#. aws_default_region (required): eu-west-1
#+ Amazon AWS region to use for Terraform.
aws_default_region: eu-west-1

#. terraform_storage_bucket_name (required): ($ organization_canonical $)-terraform-remote-state
#+ AWS S3 bucket name to store terraform remote state file.
terraform_storage_bucket_name: ($ organization_canonical $)-terraform-remote-state


#
# Repos
#

#. config_git_repository (required): git@github.com:MyUser/config-req.git
#+ Git repository url containing the config of the stack.
config_git_repository: git@github.com:MyUser/config-req.git

#. config_git_branch (required): config
#+ Branch of the config git repository.
config_git_branch: config

#. config_git_private_key (required): ((git_ssh_key.ssh_key))
#+ SSH key pair to fetch the config git repository.
config_git_private_key: ((git_ssh_key.ssh_key))


#
# Default variables that shouldn't be changed except if needed
#

#. env (required): ($ environment $)
#+ Name of the project's environment.
env: ($ environment $)

#. project (required): ($ project $)
#+ Name of the project.
project: ($ project $)

#. customer (required): ($ organization_canonical $)
#+ Name of the Cycloid Organization, used as customer variable name.
customer: ($ organization_canonical $)

#. terraform_storage_bucket_path (required): ($ project $)/($ environment $)
#+ AWS S3 bucket path to store terraform remote state file.
terraform_storage_bucket_path: ($ project $)/($ environment $)
