#
# Base role
#

#. base_deps (optional, bool): true
#+ When set to true it will try installing extra packagesd defined afterwards

#. base_extra_packages (optional, list): []
#+ The extra packages (deb/rpm) to install

#. base_extra_pip_packages (optional, list): []
#+ The extra pip packages to install

#. base_hosts (optional, bool): true
#+ If host settings should be included

#. base_hosts_suffix: ""
#+ Specify if you want specific hosts suffix

#. base_manage_host_file (optional, bool): true
#+ Set to true if you want the hosts file to be managed

#. base_manage_host_r53 (optional, bool): false
#+ Set to true if you want internal entries to be created

#. base_r53_internal_zone: ""
#+ Defines in which internal zone entries should be added in R53

#. base_custom_hosts (optional, dict): {}
#+ Define extra custom hosts for the /etc/hosts file to fill with

#
# Backup role
#

#. backup_snapshots (optional, dict): {}
#+ Setup cron to trigger EC2 snapshots.

#backup_snapshots:
#  fronts:
#    tags:
#      role: front
#      project: "{{project}}"
#    instances: []
#    autoscaling_limit: false
#    dry_run: false
#    root_device: true
#    delete_only: false
#    cold_snapshot: false
#    retention:
#      number: 1
#      type: w
#    cron: "30 2 * * *"
#    region: eu-west-1

#
# Telegraf role
#

# See telegraf inputs for more plugings https://github.com/influxdata/telegraf/tree/master/plugins/inputs
# Like https://github.com/influxdata/telegraf/tree/master/plugins/inputs/net_response for tcp port checks
#telegraf_plugins_extra:
#  http_response_prod_lb:
#    plugin: http_response
#    config:
#      - address = "https://example.com/"
#      - response_string_match = 'Title'
#      - "[inputs.http_response.headers]"
