module "instance" {
  source       = "./module-azure"
  env          = var.env
  organization = var.organization
  project      = var.project

  resource_group_name = var.azure_resource_group_name
  azure_location      = var.azure_location
}
