module "instance" {
  source       = "./module-aws"

  # Vars automatically defined in provider.tf for best practices.
  # They are usually used to tag cloud resources with Cycloid information
  component          = var.component
  env                = var.env
  project            = var.project
  organization       = var.organization
}
